In [1]:
i = 1
n = 5
while i < n:
    print(i)
    i = i+1
else:
    print("false condition")

1
2
3
4
false condition

In [2]:
x = 1
while x < 10:
    print(x)
    if x == 5:
        break
    x = x+1

1
2
3
4
5

In [4]:
s = input("Enter name ")
for i in s:
    print(i)
    if i == "a":
        break

Enter name animal
a

In [14]:
l = input("Enter name ")
i = 0
while i < len(l):
    i = i+1
    if i == 3:
        continue
    print(l[i-1])

Enter name ankita
a
n
i
t
a

In [29]:
str = "Ineuron"
print(str.find("n"))
print(str.find('ni'))
print(str.count('n'))
print(str.count('b'))
print(str.split('u'))
print(str.upper())
print(str.lower())
print(str.swapcase())
print("ankita".capitalize())

s = "ankita"
print(list(reversed(s)))

" an ".join("welcome")
"welcome".center(20,'c')

1
-1
2
0
['Ine', 'ron']
INEURON
ineuron
iNEURON
Ankita
['a', 't', 'i', 'k', 'n', 'a']

'ccccccwelcomeccccccc'

In [30]:
"ank\tsharma".expandtabs()

'ank     sharma'

In [31]:
a = "my name is {}"
a.format("ankita")

'my name is ankita'

In [32]:
a = "my name is {} and my department is {}"
a.format("ankita","computer science")

'my name is ankita and my department is computer science'

In [46]:
l = ["ank", 1, True, 2, 3.5, "sharma"]
print("sharma" in l)

True

In [47]:
l.append("ineuron")
print(l)
print(l.pop())
print(l.pop(2))

l.reverse()
print(l)
l.insert(2,True)
print(l)

['ank', 1, True, 2, 3.5, 'sharma', 'ineuron']
ineuron
True
['sharma', 3.5, 2, 1, 'ank']
['sharma', 3.5, True, 2, 1, 'ank']

In [50]:
l = [1,2,3,4]
l1 = [45,56,67]

print(l+l1)
l.append(l1)
print(l)
l.insert(-1,l1)
print(l)
l.extend(l1)
print(l)

[1, 2, 3, 4, 45, 56, 67]
[1, 2, 3, 4, [45, 56, 67]]
[1, 2, 3, 4, [45, 56, 67], [45, 56, 67]]
[1, 2, 3, 4, [45, 56, 67], [45, 56, 67], 45, 56, 67]

In [51]:
s = [1,2,3,4,5]
[i**2 for i in s]

[1, 4, 9, 16, 25]

In [53]:
s = "welcome"
[i for i in s]

['w', 'e', 'l', 'c', 'o', 'm', 'e']

In [58]:
even = [a for a in range(20) if a%2==0]
odd = [a for a in range(20) if a%2!=0]
sum = [even[x]+odd[x] for x in range(10)]

print(even)
print(odd)
print(sum)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[1, 5, 9, 13, 17, 21, 25, 29, 33, 37]