In [3]:
"""set is a collection that holds unique values only. indexing is not supported in set"""

s = set()
s.add(1)
s.add(1)
s.add(2)
s.add(3)

print(s)

s = {3,4,5,6,6,7,7,3}
print(s)

{1, 2, 3}
{3, 4, 5, 6, 7}

In [4]:
print(list(s))
print(tuple(s))

[3, 4, 5, 6, 7]
(3, 4, 5, 6, 7)

In [7]:
"""dictionary is collection that holds value as key-value pair. key should be unique"""

s = {}
d = {}

print(type(s))
print(type(d))

s = {1,2,3}
d = {"key": "value"}

print(type(s))
print(type(d))

<class 'dict'>
<class 'dict'>
<class 'set'>
<class 'dict'>

In [8]:
d = {4:"valu","x1":[1,2,3,45], "x2":(2,3,4,5)}
print(d)

{4: 'valu', 'x1': [1, 2, 3, 45], 'x2': (2, 3, 4, 5)}

In [21]:
x = {3:"4", (1,2,3):"x1", _:45}
_ = 3423

In [22]:
x[(1,2,3)]

'x1'

In [23]:
d = {"k1":234, "k2":23894, "k3":4935, "k4":{1:"a",2:"b",3:"c"}}
d

{'k1': 234, 'k2': 23894, 'k3': 4935, 'k4': {1: 'a', 2: 'b', 3: 'c'}}

In [27]:
for i in d:
    print(i)
    
print(d.keys())
print(d.values())
print(d.items())

for i in d.keys():
    print(i,d[i])

k1
k2
k3
k4
dict_keys(['k1', 'k2', 'k3', 'k4'])
dict_values([234, 23894, 4935, {1: 'a', 2: 'b', 3: 'c'}])
dict_items([('k1', 234), ('k2', 23894), ('k3', 4935), ('k4', {1: 'a', 2: 'b', 3: 'c'})])
k1 234
k2 23894
k3 4935
k4 {1: 'a', 2: 'b', 3: 'c'}

In [30]:
{i:i**2 for i in range(11)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [31]:
{i:"ineuron" for i in "ineuron"}

{'i': 'ineuron',
 'n': 'ineuron',
 'e': 'ineuron',
 'u': 'ineuron',
 'r': 'ineuron',
 'o': 'ineuron'}

In [39]:
d = {"ineuron":{"a":23, "b":34, "c":56}, "course":{"d":45, "e":12}, "g":[23,45,21], "k":(76,66), "l":{56,90}, "j":True, "o":509.09}

x = 0
for i in d.values():
    if type(i) == dict:
        for j in i.values():
            if x<j:
                x = j
    elif type(i) == int:
        if x<i:
            x = i
    elif type(i) == list or type(i) == set or type(i) == tuple:
        for j in i:
            if x < j:
                x = j
            
print(x)

90