In [1]:
a=20
type(a)

int

In [2]:
c = 7+1j
type(c)

complex

In [3]:
print(c.real)

7.0

In [5]:
print(c.imag)

1.0

In [6]:
"""String is am immutable entity."""
s = "this is my example."
s[3]

's'

In [7]:
s[-7]

'x'

In [9]:
s[0:4]

'this'

In [ ]:
"""Even if the last index is out of range, there would be no error.
Python will show all the values from start index to last one."""
s[11:55]

In [11]:
"""Start and last index both are not correct.
Still Python will not throw the exception and will show empty string"""
s[60:66]

''

In [12]:
"""If we try to access the index which is out of array and not range then it will give exception."""
s[60]

IndexError: string index out of range

In [13]:
"""The 3 arguements indicates the jump for this loop to display values."""
s[0:8:2]

'ti s'

In [14]:
s[0:9:40]

't'

In [15]:
s[::1]

'this is my example.'

In [16]:
s[0::-1]

't'

In [18]:
s[::-2]

'.lmx ms it'

In [19]:
len(s)

19

In [21]:
"exam "*4

'exam exam exam exam '

In [22]:
b=True
type(b)

bool

In [23]:
True-True

0

In [24]:
True-False

1

In [25]:
"""list data type"""
x = [1,3,4,5,6]
x

In [28]:
x = ["fgdfg", 45,8+3j,65.87,False,[8,0,7,6]]
x

['fgdfg', 45, (8+3j), 65.87, False, [8, 0, 7, 6]]

In [29]:
x[::-1]

[[8, 0, 7, 6], False, 65.87, (8+3j), 45, 'fgdfg']

In [30]:
x[10:5:-1]

[]

In [32]:
a=[1,2,3,4]
a = a + list("test")
a

[1, 2, 3, 4, 't', 'e', 's', 't']

In [34]:
"""Range is a datatype that can be used to popuate a list of defined range"""
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
list(range(4,20))

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [36]:
list(range(4,24,2))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22]

In [37]:
list(range(-3,-13,1))

[]

In [38]:
list(range(-3,-13,-1))

[-3, -4, -5, -6, -7, -8, -9, -10, -11, -12]

In [39]:
"""input method is used take the user argument. It will always try to convert the format of the provided value to string"""
a = input()
a

23

'23'

In [41]:
a = int(input("enter the value"))
a

enter the value33

33

In [42]:
a,b,c = 12.20,"test",[1,1,2]
print(a)
print(b)
print(c)

12.2
test
[1, 1, 2]

In [48]:
"""tuple is a collection"""
"""This is a tuple. It is an immutable entity"""
a = (1,2,3,4)
"""This is a list, It is a mutable entity"""
b = [1,2,3,4]
print(type(a))
print(type(b))
"""The variable names are case sensitive"""
print(B)

<class 'tuple'>
<class 'list'>

NameError: name 'B' is not defined